.characterContainer {
	width: 85%;
	height: 60%;
	margin-left: auto;
	margin-right: auto;
	border: 1px black solid;
	border-radius: 15px;
}

div {
	position: relative;
}

h1 {
	text-align: center;
	font-size: 60;
	margin: 5;
}

input[type=text] {
	background: beige;
	border: solid 1px;
	position: absolute;
	right: 5px;
}

.characterBox {
	border: 1px black solid;
	border-radius: 15px;
	width: 149px;
	height: 149px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	text-align: center;
	cursor: pointer;
}

.spacer {
	height: 30px;
}

#newCharacter {
	background-image: url('images/vampire-light.png');
}